* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* HEADER */
header {
    background-color: #1f2937;
    padding: 0px 20em 10em 20em;
}
#logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}
.image {
    background-color: #e5e7eb;
    min-width: 40rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1.5rem;
  }

.nav a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    flex: 1;
    gap: 20px;
}

/* WELCOME */
.welcome {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding-top: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-right: 5em;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.signup {
    border-radius: 1rem;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    width: 175px;
    height: 42px;
    color: #f9faf8;
    border: none;
}
.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}


/* <MAIN> */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 50px;
}
.card-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0 6rem 0;
}

.card {
    text-align: center;
    max-width: 207px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.square {
    border: 4px solid #3882f6;
    border-radius: 1rem;
    width: 170px;
    height: 170px;
}

/* QUOTE */
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    background: #e5e7eb;
    min-height: 25rem;
}

.quote em {
    font-size: 36px;
    color: #1f2937;
    margin: 0 auto;
    max-width: 59rem;
}

.quote p {
    margin-left: 35rem;
    font-size: 24px;
    font-weight: 800;
}

/* SIGN-UP */

.sign-up {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    justify-content: space-evenly;
    border-radius: 0.8rem;
    margin: 7rem 20rem 7rem 20rem;
    padding: 3rem;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.signup-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.signup-left strong {
    font-size: 24px;
}

.signup-right button {
    color: white;
    font-size: 18px;
    background-color: #3882f6;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 2px white solid;
    font-weight: 800;
}

/* FOOTER */
footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    height: 6rem;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}